@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  font-family: 'Oswald', sans-serif;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  color: #660033;
}
th {
  background-color: #99ffcc;
}
td:hover { 
  font-weight: bold;
}
table {
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.numerator {
  background-color: #dfff80;
}
.denominator {
  background-color: #80ccff;
}
